---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Personal",
    price: "Free",
    popular: false,
    features: [
      "Community Support"
    ],
    button: {
      text: "Get Started",
      link: "https://github.com/JayNightmare",
    },
  }
];
---

<Layout title="Sponsor">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Sponsor Me</Fragment>
      <Fragment slot="desc">
        Simple & Easy prices. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
