---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "What Do I Use?",
    description:
      "I built this site using just plain ol' HTML + JavaScript. To see what else I've built, go to the Projects Page",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "100% Static HTML, No JS",
    description:
      "Since this website uses Astro, it renders my entire page to static HTML, removing all JavaScript from your final build.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Experienced With The Front AND Back",
    description:
      "This website is setup to automatically setup interactionable objects :D",
    icon: "bx:bxs-data",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    This is everything you need to know about
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    My portfolio comes batteries included. It takes the best parts of current technologies
     and adds its own innovations.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16 into-divs">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start border-round transition group-hover:-translate-y-1 group-hover:shadow-xl">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
