---
// @ts-ignore
// https://boxicons.com/ for icons
import { Icon } from "astro-icon";

const features = [
  {
    title: "Education",
    description:
      "I'm currently studying computer science at Kingston University. During this course, we learn about databases, Java programming, and how to prepare us for the workplace. This is a 3-year course.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Certificates",
    description: 
      "Certificates:\n-Marine Engineering - 3rd Class\n-Java Object-Oriented Programming\n-GDPR Compliance: Essential Training\n-Python Essential Training (2022)\n-Learn HTML Course",
    icon: "bx:bxs-spreadsheet",
  },
  {
    title: "Work Experience",
    description:
      "I started working at a Fullers pub when I was 16. When I turned 18, I joined the Waffle Miester team. After that, I went on to become a bartender at Tenpin. While working there, I learned many skills. Currently, I'm working as a receptionist at Travelodge.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Skills",
    description:
      "Working in different environments has allowed me to pick up a lot of skills. I'm a quick learner, I'm great under pressure, I'm a natural team leader, and I don't shy away from a challenge. With that being said, I'm also open-minded, always friendly, and focused.",
    icon: "bx:bxs-data",
  },
];
---
<div class="paddingDown">
  <div class="mt-16 md:mt-0">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      Everything you need to know about me
    </h2>
    <p class="text-lg mt-4 text-slate-600">
      My portfolio comes batteries included. It takes the best parts of current technologies
      and adds its own innovations.
    </p>
  </div>

  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16 into-divs">
    {
      features.map((item) => (
        <div class="flex gap-4 items-start border-round transition group-hover:-translate-y-1 group-hover:shadow-xl">
          <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
            <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>