---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero-alt.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block animationFeeder">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[300, 500, 700]}
      aspectRatio="3:3.5"
      sizes="(max-width: 850px) 100vw, 620px"
      loading="eager"
      format="avif"
      style="animation: 5s animationFeeder ease 1; 
        @keyframes animationFeeder {
        0%{ left: 90px; opacity: 0; }
        25%{ opacity: 0; }  
        }"/>
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Welcome to my website!
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      This is a WIP website. It holds my projects that I'm currently working on<wbr /> Built using pure HTML 
      and Astro libraries.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://github.com/JayNightmare"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener"
        style?="background: white; color: black !important;">
        <Icon class="text- w-5 h-5" name="bx:bxl-github"; />
        GitHub Repo
      </Link>
    </div>
  </div>
</main>
