---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "My Portfolio"
  : "Portfolio";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Portfolio"
      canonical={canonicalURL}
      twitter={{
        creator: "Jay",
        site: "@web3templates",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `My Portfolio`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */      
      img {
        content-visibility: auto;
      }

      body {
        background: black;
      }
      
      a, h1, p, h3, h2, div, svg, span {
        color: white !important;
      }

      .into-divs > .border-round {
        background: #121212;
        padding: 1.25em;
        border: 1px solid #212121;
        border-radius: 5px;
        
      }

    </style>
  </body>
</html>
